
services:
  db:
    image: postgres:15
    container_name: pulsegrid-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 12345
      POSTGRES_DB: pulsegrid
    volumes:
      - postgres-data:/var/lib/postgresql/data
volumes:
  postgres-data:
